* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  background-image: linear-gradient(to right, white, #003366);
  border-bottom: 3px solid white;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: rgba(180, 170, 172, 0.984);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #ff6600;
  font-size: 48px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 15px 15px;
  font-weight: lighter;
  color: #ff6600;
  font-size: 36px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}
header nav ul li a:hover {
  background: #ff6600;
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1), 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 4px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

/* HERO STYLING */
.heroImage {
  background-image: url(../Assets/images/backgroundimage2.png);
  height: 350px;
  width: 100%;
  background-image: linear-gradient(to right, white, #003366);
  display: flex;
  flex-wrap: flex;
}
.heroImage h2 {
  text-shadow: 0px 40px 0px rgba(0, 0, 0, 0.1),
    0px 14px 10px rgba(0, 0, 0, 0.15), 0px 40px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
  color: #ff6600;
  font-size: 64px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  margin: 150px 50px 50px 300px;
}
.profile-photo {
  border-radius: 50%;
  /* flex: 2 70%; */
  display: flex;
  flex-wrap: flex;
  margin: 50px 0px 50px 50px;
}
.about-me-sidebar,
.main-sidebar {
  font-size: 36px;
  margin: 40px 20px 20px 70px;
  padding-bottom: 10px;
  width: 15%;
  display: flex;
  /* align-items: left; */
  /* justify-content: space-between; */
  color: #ff6600;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
  border-right: 5px solid #ff6600;
  border-right: 5px solid #ff6600;
  /* background-image: linear-gradient(to top, white, whitesmoke); */
}
.bio-text {
  flex: 2 70%;
  display: flex;
  flex-wrap: flex;
  font-size: 24px;
  margin-right: 220px;
  width: 50%;
  /* align-items: center; */
  justify-content: space-between;
  /* float: center; */
  padding-top: 50px;
  padding-bottom: 30px;
}
.largeWork {
  margin: 0px 0px 0px 150px;
  padding-bottom: 20px;
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
}

.perez-sports {
  font-size: 58px;
  color: #ff6600;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
  background-color: linear-gradient(to right, white, #003366);
  margin: auto;
}
.largeWork:hover {
  opacity: 0.7;
  box-shadow: 0 0 0px #000000;
  transform: scale(1.05);
}
.smallWork {
  width: 60%;
  margin: 0px 0px 0px 800px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  /* justify-content: space-around; */
}
.smallWork1,
.smallWork3 {
  padding-right: 10px;
}
.smallWork3,
.smallWork4 {
  padding-top: 20px;
}
.smallHed {
  margin-left: 150px;
}

.smallWork1:hover {
  opacity: 0.7;
  box-shadow: 0 0 0px #000000;
  transform: scale(1.05);
}
.smallWork2:hover {
  opacity: 0.7;
  box-shadow: 0 0 0px #000000;
  transform: scale(1.05);
}
.smallWork3:hover {
  opacity: 0.7;
  box-shadow: 0 0 0px #000000;
  transform: scale(1.05);
}
.smallWork4:hover {
  opacity: 0.7;
  box-shadow: 0 0 0px #000000;
  transform: scale(1.05);
}
.contact-information {
  flex: 2 70%;
  display: flex;
  flex-wrap: flex;
  font-size: 30px;
  color: #ff6600;
  -webkit-text-stroke: 1px #282828;
  /* text-shadow: 0px 4px 4px #282828; */
  margin: 50px 220px 0px 0px;
  width: 60%;
  /* align-items: center; */
  justify-content: space-between;
  /* float: center; */
  padding-top: 50px;
  padding-bottom: 30px;
}
.banner {
  background-image: contain;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 30px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.flex-row {
  display: flex;
}
@media screen and (max-width: 1025px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 40px;
  }

  .heroImage h2 {
    margin-top: 100px;
    width: 100%;
    margin-left: 80px;
  }
  .about-me-sidebar,
  .main-sidebar {
    font-size: 36px;
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    border-right: none;
  }

  .bio-text {
    /* text-align: center; */
    width: 100%;
    font-size: 30px;
    margin-left: 100px;
  }
  .flex-container {
    flex: 10 70%;
    flex-direction: column;
    margin-left: 300px;
  }
  .flex-row {
    text-align: center;
    width: 100%;
  }
  .psaPic {
    width: 130%;
    margin-left: 40px;
    margin-right: 90px;
  }
  .perez-sports {
    font-size: 42px;
    text-align: center;
    margin-left: 100px;
  }
  .contact-information {
    font-size: 18px;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }

  .heroImage h2 {
    margin-top: 100px;
    width: 100%;
    margin-left: 80px;
  }
  .about-me-sidebar,
  .main-sidebar {
    font-size: 24px;
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    border-right: none;
  }

  .bio-text {
    text-align: center;
    width: 100%;
  }
  .flex-container {
    flex: 10 70%;
    flex-direction: column;
    margin-left: 250px;
  }
  .flex-row {
    text-align: center;
    width: 100%;
  }
  .psaPic {
    width: 90%;
    margin-left: 40px;
  }
  .perez-sports {
    font-size: 42px;
    text-align: center;
    margin-left: 100px;
  }
  .contact-information {
    align-content: center;
    text-align: center;
    font-size: 18px;
  }
}
/* media query for tablets and smaller */

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }

  .heroImage h2 {
    margin-top: 60px;
    width: 100%;
    margin-left: 100px;
  }
  .about-me-sidebar,
  .main-sidebar {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    border-right: none;
  }

  .bio-text {
    text-align: center;
    width: 100%;
    margin-right: 90px;
  }

  .flex-container {
    flex: 5 10%;
    flex-direction: column;
    margin-left: 200px;
  }
  .flex-row {
    text-align: center;
    width: 100%;
  }
  .psaPic {
    width: 120%;
  }
  .perez-sports {
    font-size: 42px;
    text-align: center;
  }
  .contact-information {
    flex-wrap: wrap;
    text-align: center;
  }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    width: 100%;
  }
  header h1 {
    width: 100%;
    text-align: center;
    margin-left: 100px;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .profile-photo {
    width: 125px;
    height: 125px;
  }
  .heroImage {
    height: 50%;
  }

  .heroImage h2 {
    margin-top: 70px;
    font-size: 36px;
    margin-left: 100px;
    /* margin-right: 100px; */
    /* width: 100%; */
  }
  .about-me-sidebar,
  .main-sidebar {
    font-size: 22px;
    padding-bottom: 0;
    border-right: none;
  }
  .bio-text {
    text-align: center;
    width: 100%;
    margin-right: 45px;
  }
  .flex-container {
    flex: 5 10%;
    flex-direction: column;
    margin-left: 150px;
  }
  .flex-row {
    text-align: center;
    width: 100%;
  }
  .psaPic {
    width: 125%;
    margin-right: 125px;
  }
  .perez-sports {
    font-size: 30px;
    text-align: center;
    margin-right: 120px;
  }
  .contact-information {
    flex-wrap: wrap;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
  }
}
